
//@theme "/nix/store/5k35qjl2r3pa04xvm1q8my81cbiz80cs-rofi-2.0.0/share/rofi/themes/android_notification.rasi"

@theme "/nix/store/5k35qjl2r3pa04xvm1q8my81cbiz80cs-rofi-2.0.0/share/rofi/themes/gruvbox-dark-soft.rasi"
