@import "colors.css";

* {
  padding: 0;
  margin: 1px;
  min-height: 0;
  border-radius: 5px 5px 5px 5px;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

window#waybar {
  background: @background;
  font-family: Symbols Only Nerd Font Propo, Aporetic Sans;
  font-size: 11pt;
}

window#waybar.empty #window {
  border: none;
  padding: 0;
}

#mpris,
#window,
#cpu,
#backlight,
#memory,
#wireplumber,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock, 
#tray {
  border: 1pt solid #82a8a0;
  padding-right: 4pt;
  padding-left: 4pt;
  color: #000000;
}

#workspaces {
  padding: 0 4pt;
  border: 1pt solid #82a8a0;
  background: #83dea7;
}

#workspaces button {
  padding: 0 2pt;
}

#workspaces button:hover {
  color: #000000;
  background-color: #cccccc;
  
}

#workspaces button.active,
#workspaces button.active:hover {
  color: #ffffff 
}

#tray {
  background: #de83ba;
  padding: 0 6pt;
}

#cpu {
  background: #f5abab 
}

#backlight {
  background: #d0abf5; 
}

#memory {
  background: #d0f5ab; 
}

#wireplumber {
  background: #abf5f5; 
}

#battery {
  background: #f5f5ab;
}

#clock {
  background: #f5d0ab;
}

#network {
  background: #abd0f5;
}

#mpris {
}

